  {{#if isComplete}}
    <li class="list-group-item" style="text-decoration: line-through;"><input type="checkbox" id="task">{{content}}<span id="idspan" style="display: none;">{{id}}</span></li>
  {{else}}
    <li class="list-group-item"><input type="checkbox" id="task">{{content}}<span id="idspan" style="display: none;">{{id}}</span></li>
  {{/if}}